$good: #32d574;
$bad: #fe2844;
$grey: #ebf0f4;

:host {
    display: grid;
    padding-bottom: 32px;
    grid-template-columns: max-content auto;
    gap: 30px 10px;
}

.values {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

.value {
    height: 1px;

    &__text {
        position: relative;
        bottom: 11px;
    }
}

.canvas-wrap {
    flex-grow: 1;
    position: relative;
}

.lines {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    height: 1px;
    background-color: $grey;
}

.canvas {
    display: flex;
    padding: 0 60px;
    flex-direction: row;
    justify-content: space-between;
}

.bar {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 12px;
    position: relative;

    &__yesterday {
        width: 19%;
        background-color: $grey;
        transition: height 200ms linear;
    }

    &__today {
        position: relative;
        width: 76%;
        background-color: #ebf0f4;
        text-align: center;
        padding-top: 1px;
        box-sizing: border-box;
        transition: height 200ms linear;

        &--good {
            color: $good;
            background-color: $good;
        }

        &--bad {
            color: $bad;
            background-color: $bad;
        }
    }

    &__legend {
        position: absolute;
        width: 100%;
        bottom: -24px;
        color: black;
        text-align: center;
        font-size: 15px;
    }

    &__percent {
        position: absolute;
        width: 100%;
        top: -18px;
        text-align: center;
        font-size: 12px;

        span {
            margin-right: 2px;
        }
    }

    &__total {
        color: white;
    }
}
