<div>(K)</div>

<div>
    Operations
    <select [(ngModel)]="scale" (ngModelChange)="scaleChangeHandler(scale)">
        <option [value]="scaleTypes.log">Log</option>
        <option [value]="scaleTypes.linear">Linear</option>
    </select>
</div>

<div class="values">
    <div class="value" *ngFor="let line of lineValues"><div class="value__text">{{ line }}</div></div>
</div>

<div class="canvas-wrap">
    <div class="lines">
        <div class="line" *ngFor="let line of lineValues"></div>
    </div>
    <div class="canvas" [style.height.px]="canvasHeight">
        <div
            *ngFor="let item of items; trackBy: trackByIndex"
            class="bar"
        >
            <div
                class="bar__yesterday"
                [style.height.px]="getHeightByValue(item.x)"
            ></div>

            <div
                class="bar__today"
                [class.bar__today--good]="isGood(item)"
                [class.bar__today--bad]="isBad(item)"
                [style.height.px]="getHeightByValue(item.y)"
            >
                <div class="bar__percent">
                    <span>{{ getPercent(item) }}</span>
                    <app-icon-increase *ngIf="isIncreasing(item)"></app-icon-increase>
                    <app-icon-decrease *ngIf="isDecreasing(item)"></app-icon-decrease>
                </div>
                <div class="bar__total">{{ getTotal(item) }}K</div>
                <div class="bar__legend">
                    {{ item.title }}
                </div>
            </div>

        </div>
    </div>
</div>
