<p>
    <label>
        Chart height
        <input type="number" [(ngModel)]="height">
    </label>
</p>

<p>
    <label>
        Logarithmic scale
        <input type="checkbox" [(ngModel)]="logarithmicScale">
    </label>
</p>

<p>
    <button (click)="chartData = dataSets[0]">Dataset 1</button>
    <button (click)="chartData = dataSets[1]">Dataset 2</button>
    <button (click)="chartData = dataSets[2]">Dataset 3</button>
</p>

<app-bar-chart
    [items]="chartData"
    [canvasHeight]="height"
    [linear]="!logarithmicScale"
></app-bar-chart>
